*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home-page{
  background-color:	#000;
}

/* side navbar */

.parent-option{
    height: 100vh;
    position: fixed;
    left: 0;
    z-index: 888888;
  }
  .options{
    background-color: #000;
    padding: 20px;
    position: relative;
  }

  .options a{
    text-decoration: none;
    color: #f9f6f6;
    line-height: 2;

  }
  .options a:hover{
    color: #ff655c;
  }
  .options-social-icons i{
    color: #f9f6f6;
  }
  .options-social-icons i:hover{
    color: #ff655c;
  }
    
  .parent-option i{
    cursor: pointer;
    padding: 5px;
  }
  .visible-bar{
    background-color: #f8f6f6;
  }

  

/* side navbar end */

/* movie overlayer */
/* .movie-gallery{
  position: relative;
  overflow: hidden; 

} */
.post{
  position: relative;
  overflow: hidden;
}
/* .movie-layer{
  background-color: rgba(0, 195, 218, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all .3s ease;
  opacity: 0;
  
}
.container:hover .movie-layer{
 display: block;
 opacity: 0.8;
 top: 0;
} */

/* movie overlayer end */

/* contact us */


#register{
  /* width: 300px;  */
  /* border: 1px solid #d6d7da;  */
  padding: 0px 15px 15px 15px; 
  border-radius: 5px;
  font-family: arial; 
  line-height: 16px;
  color: #f1f1f1; 
  font-size: 14px; 
  background: rgba(200,200,200,0.7) 0 4px 10px -1px;
  /* margin: auto; */
  text-align: center;
  }
  
  form label, form input{
    display: block;
    margin-top: 10px;
    width: 60%;
  }
  form input{ 
  padding: 10px;
  border: solid 1px #BDC7D8; 
  
  }
  .button {
    background-color: #00bfff06 ;
    border-color: #5064b7;
    font-weight: bold;
    padding: 12px 15px;
    color: #ffffff;
    }
  .errorMsg{
    color: #cc0000;
    margin-bottom: 10px;
    display:none;
   }
   .sucessMsg{
    color: #6B8E23;
    margin-bottom: 10px;
   }



/* contact us end */